*{
    box-sizing: border-box;  
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
    
}
body{ 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: hsl(30, 38%, 92%);  

}

h2{
    font-family:"Fraunces","serif" ;
}

p{
    font-size: 13px;
}
.card{
    width: 500px;
    height: 100%;
 
 }
.card_container{
    display: flex;
}

.card_image{
    background-image: url('./imagess/image-product-desktop.jpg');
    background-size: cover;
    background-position: center center;
    width:50%;
    border-radius: 0.5rem 0 0 0.5rem;
}
.card_info{
    width:50%;
    background-color:white;
    padding: 2rem;
    border-radius: 0 .5rem .5rem 0;
}
.sub_title{
    color: hsl(210, 2%, 40%);
     padding-bottom: 15px; 
    text-transform: uppercase ;
}

.title{
    margin-bottom:15px ;
}
.pragraph{
    color: hsl(228, 12%, 48%);
    margin-bottom: 15px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.price h2{
    color: hsl(158, 36%, 37%);
}
.price p{
    text-decoration: line-through;
}
button{
    width:100%;
    height: 30px;
    background-color:hsl(158, 36%, 37%);
    border: none;
    border-radius: 0.4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin-right: 10px;
}
